<!-- <form class="auth-form auth__form" [ngClass]="{'auth__form--big':BigForm}"> -->
<h1 class="auth-form__title">Log in</h1>
<div class="input-groupe auth-form__input-groupe">
    <label class="input-groupe__label" for="email">E-mail</label>
    <!-- input-groupe__input--error класс ошибки для инпута-->
    <input [(ngModel)]="LoginModel.email" type="text" class="input-groupe__input" id="email" name="email" autocomplete="off">
    <!-- <p class="input-groupe__error">сюда текст ошибки если есть</p> -->
</div>
<div class="input-groupe auth-form__input-groupe">
    <label class="input-groupe__label" for="password">Password</label>
    <input [(ngModel)]="LoginModel.password" type="password" class="input-groupe__input" id="password" name="password">
    <p class="input-groupe__error" *ngIf="Error">{{Error}}</p>
</div>
<div class="auth-form__forgot-pass">
    <a class="auth-form__forgot-pass-link" routerLink="../remind">Forgot your password?</a>
</div>
<div class="two-col-buttons">
    <div class="button-wrapper two-col-buttons__item">
        <a routerLink="../signup" class="button-wrapper__button button-wrapper__button--border_theme button-wrapper__button--none-left-proder">Sign up</a>
    </div>
    <div class="button-wrapper two-col-buttons__item">
        <button type="submit" (click)="Login()" class="button-wrapper__button">Lоg in</button>
    </div>
</div>

