@import "layout/var";

.invest-modal-form {
    &__input-groupe {
        margin-bottom: 11px;
    }

    &__flex {
        display: flex;
    }

    &__side {
        &:first-child {
            width: 65%;
            padding-right: 12px;
        }

        &:last-child {
            width: 35%;
        }
    }

    &__msg {
        text-align: center;

        &--big {
            font-size: 16px;
            padding-top: 10px;
            max-width: 270px;
            margin: 0 auto 20px;
            line-height: 22px;
            font-weight: $semiBold;
        }
    }
}