<h1 class="system__title">
    Tracking
</h1>

<div class="tracking">
    <div class="tracking-item tracking-item--header">
        <div class="tracking-item__column">
            <p class="tracking-item__info">Investor name</p>
        </div>
        <div *ngFor="let item of Axis; let i = index" class="tracking-item__column">
            <p class="tracking-item__info">{{item}}</p>
        </div>
        <div class="tracking-item__column">
            <p class="tracking-item__info">Total investment</p>
        </div>
        <div class="tracking-item__column">
            <p class="tracking-item__info">Debt</p>
        </div>
    </div>
        <div *ngFor="let investors of Investors; let j = index" class="tracking-item tracking__item">
          <div class="tracking-item__column">
              <p class="tracking-item__info tracking-item__info--strong">{{investors.name}}</p>
          </div>
          <!-- tracking-item__column--checked tracking-item__column--today -->
          <ng-container *ngFor="let item of investors.months; let i = index" >
            <div *ngIf="item.title" class="tracking-item__column tracking-item__column" [ngClass]="{'tracking-item__column--today': i == 3,'tracking-item__column--with_option': MyRole && MyRole == 'investor','tracking-item__column--checked': MyRole && MyRole == 'investor' && !item.payed}" >
                <p class="tracking-item__info">${{item.amount}}</p>
                <div *ngIf="MyRole && MyRole == 'investor' && i <= 3 && item.amount" class="tracking-checkbox tracking-item__info-button">
                    <div class="tracking-checkbox__label">Paid</div>
                    <button (click)="OpenModal(i-1, investors.company_id, item.amount)" class="tracking-checkbox__button"></button>
                </div>
            </div>
          </ng-container>
          <div class="tracking-item__column">
              <p class="tracking-item__info">${{investors.total_investment}}</p>
          </div>
          <div class="tracking-item__column">
              <p class="tracking-item__info">${{investors.debt}}</p>
          </div>
      </div>
</div>

<ng-container *ngIf="isOpenModal">
  <div class="modal">
      <div class="invest-modal modal__body">
          <div class="invest-modal-form">
              <p class="invest-modal-form__msg invest-modal-form__msg--big">Are you sure you want mark paid you a debt of ${{Amount}} for {{Date}}?</p>
              <div class="two-col-buttons">
                  <div class="button-wrapper two-col-buttons__item">
                      <a (click)="isOpenModal = false" class="button-wrapper__button button-wrapper__button--border_theme">No</a>
                  </div>
                  <div (click)="PaidToProject()" class="button-wrapper two-col-buttons__item">
                      <button class="button-wrapper__button">Yes</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal__backdrop"></div>
</ng-container>
