
        <div class="my-milestone">
            <div class="my-milestone__title-wrapper">
                <p class="my-milestone__title">{{Item.title}}</p>
                <div class="edit-button my-milestone__edit-button">
                    <a *ngIf="!Item.is_done && !InPast" [routerLink]="['/system','my_milestones','edit',Item.id]" class="edit-button__edit">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.0147991 10.5L0 13.3797C0 13.5422 0.0591967 13.7046 0.17759 13.8228C0.295983 13.9409 0.443975 14 0.606765 14L3.4778 13.9852C3.64059 13.9852 3.78858 13.9262 3.90698 13.808L13.8224 3.9135C14.0592 3.67722 14.0592 3.29325 13.8224 3.04219L10.981 0.177215C10.7442 -0.0590717 10.3594 -0.0590717 10.1078 0.177215L8.12474 2.17089L0.192389 10.0717C0.088795 10.1899 0.0147991 10.3376 0.0147991 10.5ZM10.5518 1.47679L12.5497 3.47046L11.4249 4.59283L9.42706 2.59916L10.5518 1.47679ZM1.24313 10.7658L8.55391 3.47046L10.5518 5.46414L3.24101 12.7447L1.22833 12.7595L1.24313 10.7658Z" fill="black"/>
                        </svg>
                        Edit
                    </a>
                </div>
            </div>
            <!-- my-milestone__description--show для показа скрытого текста-->
            <p *ngIf="Item.description" class="my-milestone__description my-milestone__description--show">
                {{Item.description.slice(0,100)}}
                {{Item.description.length > 100 && !isShowFullDescription ? '...' : ''}}
                <span *ngIf="isShowFullDescription" class="my-milestone__hidden-text">
                    {{Item.description.slice(100)}}
                </span>
                <span *ngIf="Item.description.length > 100" (click)="isShowFullDescription = !isShowFullDescription"  class="my-milestone__show-hide">{{isShowFullDescription?'Less':'More'}}</span>
            </p>
            <p class="my-milestone__date">{{Item.finish_date | date: 'dd.MM.yyyy'}}</p>
            <p *ngIf="!Item.is_done" class="my-milestone__label">Complete</p>
            <form *ngIf="!Item.is_done" class="my-milestone__flex-select">
                <div class="input-groupe my-milestone__input-groupe">
                    <!--select--opened если открытый селект-->
                    <div class="select" (click)="InPast?'':isCompletedListOpened = !isCompletedListOpened" [ngClass]="{'select--opened': isCompletedListOpened}">
                        <!--добавляем select__input-hidden для связки самописного селекта с формой(для взаимодействия с template driven или reactive forms).
                                Этот класс скрывает элемент. в данном случае нужно юзать список из чекбоксов т.к. можно выбрать все элементы-->
                        <select class="select__input-hidden">
                            <option>sdf</option>
                        </select>
                        <div class="select__lable">
                            <p class="select__picked">{{Item.completeness}}%</p>
                        </div>
                        <div class="select-dropdown select__dropdown">
                            <ul class="select-dropdown__list">
                                <!-- select-dropdown__item--active для активного элемента -->
                                <li (click)="saveMilestoneProcent(10)" class="select-dropdown__item">10%</li>
                                <li (click)="saveMilestoneProcent(20)" class="select-dropdown__item">20%</li>
                                <li (click)="saveMilestoneProcent(30)" class="select-dropdown__item">30%</li>
                                <li (click)="saveMilestoneProcent(40)" class="select-dropdown__item">40%</li>
                                <li (click)="saveMilestoneProcent(50)" class="select-dropdown__item">50%</li>
                                <li (click)="saveMilestoneProcent(60)" class="select-dropdown__item">60%</li>
                                <li (click)="saveMilestoneProcent(70)" class="select-dropdown__item">70%</li>
                                <li (click)="saveMilestoneProcent(80)" class="select-dropdown__item">80%</li>
                                <li (click)="saveMilestoneProcent(90)" class="select-dropdown__item">90%</li>
                                <li (click)="saveMilestoneProcent(100)" class="select-dropdown__item">100%</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="button-wrapper button-wrapper--select_theme my-milestone__button-wrapper">
                    <button (click)="InPast?'':saveMilestone()" class="button-wrapper__button" [disabled]="!Item.completeness">Mark as done</button>
                </div>
            </form>
            <div *ngIf="Item.is_done" class="my-milestone__complete-mark">
                <div class="my-milestone__complete">
                    <svg class="my-milestone__complete-icon" width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 2.2714L17.6755 0L6.97368 10.4572L2.32463 5.9143L0 8.1857L6.97368 15L20 2.2714Z" fill="#45BA1C"/>
                    </svg>
                    <p class="my-milestone__complete-text">{{Item.completeness}}% complete</p>
                </div>
            </div>
        </div>
