<form class="form-filter">
    <div class="form-filter__flex-groupe">
        <div class="input-groupe form-filter__search-from-name">
            <!-- input-groupe__input--error класс ошибки для инпута-->
            <div class="input-groupe__with-sm-butt">
                <input type="text" class="input-groupe__input" name="name" placeholder="Search" [ngModel]="SearchParams.text" (ngModelChange)="SearchParams.text = $event">
                <button class="input-groupe__sm-butt input-groupe__sm-butt--sentered_inside" (click)="OnSearch()">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.2857 12.5714H13.3714L13.0286 12.2286C14.1715 10.9714 14.8572 9.25714 14.8572 7.42857C14.8571 3.31429 11.5429 0 7.42857 0C3.31429 0 0 3.31429 0 7.42857C0 11.5429 3.31429 14.8571 7.42857 14.8571C9.25714 14.8571 10.9714 14.1714 12.2286 13.0286L12.5714 13.3714V14.2857L18.2857 20L20 18.2857L14.2857 12.5714ZM7.42857 12.5714C4.57143 12.5714 2.28571 10.2857 2.28571 7.42857C2.28571 4.57143 4.57143 2.28571 7.42857 2.28571C10.2857 2.28571 12.5714 4.57143 12.5714 7.42857C12.5714 10.2857 10.2857 12.5714 7.42857 12.5714Z" fill="white"/>
                    </svg>
                </button>
            </div>
        </div>
        <button class="form-filter__on-show-checkbox" (click)="ShowCategories = !ShowCategories">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.1231 0H1.87723C0.211679 0 -0.628673 2.02074 0.551405 3.20082L6.875 9.52663V16.25C6.875 16.8401 7.15285 17.3959 7.625 17.8125L10.125 19.651C11.3466 20.5047 13.125 19.7111 13.125 18.151V9.52663L19.4489 3.20082C20.6266 2.02312 19.792 0 18.1231 0ZM11.25 8.74999V18.125L8.75 16.25V8.74999L1.875 1.875H18.125L11.25 8.74999Z" fill="white"/>
            </svg>  
        </button>
    </div>
    <!--ngIf-->
    <div class="form-filter__checkboxes" *ngIf="ShowCategories">
        <div class="marketplace-checkboxes">
            <div class="one-checkbox marketplace-checkboxes__check-box" *ngFor="let item of Categories; let i = index">
                <div class="one-checkbox__check-style">
                    <input type="checkbox" class="one-checkbox__checkbox" [checked]="item.checked" (change)="item.checked = !item.checked" name="role" id="checkbox-{{i+1}}">
                    <label for="checkbox-{{i+1}}"></label>
                </div>
                <p class="one-checkbox__label">{{item.name}}</p>
            </div>
            <!-- <div class="one-checkbox marketplace-checkboxes__check-box">
                <div class="one-checkbox__check-style">
                    <input type="checkbox" class="one-checkbox__checkbox" name="role" id="checkbox-2">
                    <label for="checkbox-2"></label>
                </div>
                <p class="one-checkbox__label">Category</p>
            </div>
            <div class="one-checkbox marketplace-checkboxes__check-box">
                <div class="one-checkbox__check-style">
                    <input type="checkbox" class="one-checkbox__checkbox" name="role" id="checkbox-3">
                    <label for="checkbox-3"></label>
                </div>
                <p class="one-checkbox__label">Category</p>
            </div> -->
        </div>
    </div>
</form>


<div class="my-products marketplace-products" 
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="500"
    [infiniteScrollDisabled]="ScrollDisabled"
    (scrolled)="onScroll($event)">
    <div class="my-products__item"  *ngFor="let item of Products">
        <app-single-product-cmp [product]="item" [isMarketplace]="true"></app-single-product-cmp>
    </div>
    
</div>