<ng-container *ngIf="Step == 1">
    <h1 class="auth-form__title">Register account</h1>
    <div class="auth-two-cols">
        <div class="auth-two-cols__side">
            <div class="input-groupe auth-form__input-groupe">
                <label class="input-groupe__label" for="name">Name</label>
                <!-- input-groupe__input--error класс ошибки для инпута-->
                <input [(ngModel)]="User.name" type="text" class="input-groupe__input" [ngClass]="{'input-groupe__input--error':ErrorsUserPage1.name}" id="name" name="name">
                <p class="input-groupe__error">{{ErrorsUserPage1.name}}</p>
            </div>
            <div class="input-groupe auth-form__input-groupe">
                <label class="input-groupe__label" for="surname">Surname</label>
                <input [(ngModel)]="User.surname" type="text" class="input-groupe__input" [ngClass]="{'input-groupe__input--error':ErrorsUserPage1.surname}" id="surname" name="surname">
                <p class="input-groupe__error">{{ErrorsUserPage1.surname}}</p>
            </div>
            <div class="input-groupe auth-form__input-groupe">
                <label class="input-groupe__label" for="mail">E-mail</label>
                <input [(ngModel)]="User.email" type="text" class="input-groupe__input" [ngClass]="{'input-groupe__input--error':ErrorsUserPage1.email}" id="mail" name="mail">
                <p class="input-groupe__error">{{ErrorsUserPage1.email}}</p>
            </div>
            <div class="input-groupe auth-form__input-groupe">
                <p class="input-groupe__label">Roles</p>
            </div>
            <div class="checkboxes-row">
                <div class="one-checkbox checkboxes-row__check-box">
                    <div class="one-checkbox__check-style">
                        <input type="radio" [checked]="Value === 'startup'" (change)="TypeChange('startup')" value="'startup'" class="one-checkbox__checkbox" name="role" id="checkbox-1" >
                        <label for="checkbox-1"></label>
                    </div>
                    <p class="one-checkbox__label">Startup</p>
                </div>
                <div class="one-checkbox checkboxes-row__check-box">
                    <div class="one-checkbox__check-style">
                        <input type="radio" [checked]="Value === 'investor'" (change)="TypeChange('investor')" value="'investor'"   class="one-checkbox__checkbox" name="role" id="checkbox-2">
                        <label for="checkbox-2"></label>
                    </div>
                    <p class="one-checkbox__label">Investor</p>
                </div>
            </div>
        </div>
        <div class="auth-two-cols__side">
            <div class="input-groupe auth-form__input-groupe">
                <label class="input-groupe__label" for="password">Password</label>
                <input [(ngModel)]="User.password"  type="password" class="input-groupe__input" [ngClass]="{'input-groupe__input--error':ErrorsUserPage1.password}" id="password" name="password">
                <p class="input-groupe__error">{{ErrorsUserPage1.password}}</p>
            </div>
            <div class="input-groupe auth-form__input-groupe">
                <label class="input-groupe__label" for="verify-password">Verify password</label>
                <input [(ngModel)]="User.password_confirmation" type="password" class="input-groupe__input" [ngClass]="{'input-groupe__input--error':ErrorsUserPage1.password_confirmation}" id="verify-password" name="verify-password">
                <p class="input-groupe__error">{{ErrorsUserPage1.password_confirmation}}</p>
            </div>
            <div class="input-groupe auth-form__input-groupe">
                <label class="input-groupe__label" for="descroption">Descripe your goals here</label>
                <textarea [(ngModel)]="User.goals" class="input-groupe__input input-groupe__input--textarea" id="descroption" name="descroption"></textarea>
                <p class="input-groupe__error"></p>
            </div>
        </div>
    </div>

    <div class="button-wrapper">
        <button type="submit" (click)="Value == 'startup'? NextStep() : Register()" class="button-wrapper__button">{{Value == 'startup' ? 'Next' : 'Sign up'}}</button>
    </div>
</ng-container>
<ng-container *ngIf="Step == 2">

    <h1 class="auth-form__title">Register startup</h1>
            <div class="auth-two-cols">
                <div class="auth-two-cols__side">
                    <div class="input-groupe auth-form__input-groupe">
                        <label class="input-groupe__label" for="name">Company name</label>
                        <!-- input-groupe__input--error класс ошибки для инпута-->
                        <input [(ngModel)]="User.company_name" type="text" class="input-groupe__input" [ngClass]="{'input-groupe__input--error':ErrorsUserPage2.company_name}" id="name" name="name">
                        <p class="input-groupe__error">{{ErrorsUserPage2.company_name}}</p>
                    </div>
                    <div class="input-groupe auth-form__input-groupe">
                        <label class="input-groupe__label" for="website">Company website</label>
                        <input [(ngModel)]="User.website" type="text" class="input-groupe__input" [ngClass]="{'input-groupe__input--error':ErrorsUserPage2.website}" id="website" name="website">
                        <p class="input-groupe__error">{{ErrorsUserPage2.website}}</p>
                    </div>
                    <div class="input-groupe auth-form__input-groupe">
                        <label class="input-groupe__label" for="mail">Contact e-mail</label>
                        <input [(ngModel)]="User.contact_email" type="text" class="input-groupe__input" [ngClass]="{'input-groupe__input--error':ErrorsUserPage2.contact_email}" id="mail" name="mail">
                        <p class="input-groupe__error">{{ErrorsUserPage2.contact_email}}</p>
                    </div>
                    <div class="input-groupe auth-form__input-groupe">
                        <label class="input-groupe__label" for="upload">Upload logo company</label>
                        <div class="upload-file">
                            <p class="upload-file__name-file">{{ImagePath}}</p>
                            <input (change)="uploadImage($event)" [ngClass]="{'input-groupe__input--error':ErrorsUserPage2.image}" class="upload-file__input-file" accept=".jpg, .jpeg, .png" type="file" id="upload">
                            <label class="upload-file__button-label" for="upload">
                                <img src="./../../../assets/img/file.svg" class="upload-file__img img-responsive" alt="">
                            </label>
                        </div>
                        <p class="input-groupe__error">{{ErrorsUserPage2.image}}</p>
                    </div>

                    <div class="input-groupe auth-form__input-groupe">
                        <label class="input-groupe__label" for="descroption">Company description</label>
                        <textarea [(ngModel)]="User.description" class="input-groupe__input input-groupe__input--textarea_less_height" [ngClass]="{'input-groupe__input--error':ErrorsUserPage2.description}" id="descroption" name="descroption"></textarea>
                        <p class="input-groupe__error">{{ErrorsUserPage2.description}}</p>
                    </div>
                </div>
                <div class="auth-two-cols__side">
                    <div class="input-groupe auth-form__input-groupe">
                        <p class="input-groupe__label">Stage of funding*</p>
                        <!--select--opened если открытый селект-->
                        <div class="select" [ngClass]="{'select--opened': isStageOfFundingOpened}" (click)="isStageOfFundingOpened = !isStageOfFundingOpened">
                            <!--добавляем select__input-hidden для связки самописного селекта с формой(для взаимодействия с template driven или reactive forms).
                                    Этот класс скрывает элемент. в данном случае нужно юзать список из чекбоксов т.к. можно выбрать все элементы-->
                            <select class="select__input-hidden">
                                <option>sdf</option>
                            </select>
                            <div class="select__lable">
                              <ng-container *ngFor="let item of StageOfFunding">
                                <p *ngIf="item.isSelected" class="select__picked">{{item.name}}</p>
                              </ng-container>
                            </div>
                            <div class="select-dropdown select__dropdown">
                                <ul class="select-dropdown__list">
                                    <!-- select-dropdown__item--active для активного элемента -->
                                    <li *ngFor="let item of StageOfFunding" (click)="setStageOfFunding(item)" class="select-dropdown__item" [ngClass]="{'select-dropdown__item--active': item.isSelected}">{{item.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <p class="input-groupe__error">{{ErrorsUserPage2.stage_of_funding}}</p>
                    </div>
                    <div class="row-generate">
                        <div class="row-generate__coll">
                            <div class="input-groupe auth-form__input-groupe">
                                <label class="input-groupe__label" for="investment">Investment amount</label>
                                <!-- input-groupe__input--error класс ошибки для инпута-->
                                <input [(ngModel)]="User.investment_amount" type="text" class="input-groupe__input" id="investment" name="investment">
                                <p class="input-groupe__error"><!--сюда текст ошибки если есть--></p>
                            </div>
                        </div>
                        <div class="row-generate__coll">
                            <div class="input-groupe auth-form__input-groupe">
                                <label class="input-groupe__label" for="percent">Equity amount</label>
                                <!-- input-groupe__input--error класс ошибки для инпута-->
                                <div class="with-value">
                                    <input [textMask]="{mask: mask, guide: false}" [(ngModel)]="User.equality_amount" type="text" class="input-groupe__input input-groupe__input--value-right" id="percent" name="percent">
                                    <span class="with-value__value with-value__value--right">%</span>
                                </div>
                                <p class="input-groupe__error"><!--сюда текст ошибки если есть--></p>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngFor="let item of User.team_members; let i = index; let first = first">

                    <div class="row-generate" [ngClass]="{'row-generate--generated': !first}">
                        <button *ngIf="!first" (click)="deleteTeamItem(i)" class="row-generate__delete"></button>
                        <div class="row-generate__coll">
                            <div class="input-groupe auth-form__input-groupe">
                                <label class="input-groupe__label" for="team-1">Team member name</label>
                                <!-- input-groupe__input--error класс ошибки для инпута-->
                                <input [(ngModel)]="item.team_member_name" type="text" class="input-groupe__input" id="team-1" name="team-1">
                                <p class="input-groupe__error">{{!item.team_member_name?ErrorsUserPage2.team_member_name:''}}</p>
                            </div>
                        </div>
                        <div class="row-generate__coll">
                            <div class="input-groupe auth-form__input-groupe">
                                <p class="input-groupe__label">C- Level</p>
                                <!--select--opened если открытый селект-->
                                <div class="select" [ngClass]="{'select--opened': item.isOpened}" (click)="item.isOpened = !item.isOpened">
                                    <!--добавляем select__input-hidden для связки самописного селекта с формой(для взаимодействия с template driven или reactive forms).
                                            Этот класс скрывает элемент. в данном случае нужно юзать список из чекбоксов т.к. можно выбрать все элементы-->
                                    <select class="select__input-hidden">
                                        <option>sdf</option>
                                    </select>
                                    <div class="select__lable">
                                        <p class="select__picked">{{item.c_level_name}}</p>
                                    </div>
                                    <div class="select-dropdown select__dropdown">
                                        <ul class="select-dropdown__list">
                                            <!-- select-dropdown__item--active для активного элемента -->
                                            <li *ngFor="let level of TeamLevels" (click)="item.c_level_name = level.name; item.c_level = level.value" [ngClass]="{'select-dropdown__item--active': item.c_level_name == level.name}" class="select-dropdown__item">{{level.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="input-groupe__error">{{!item.team_member_name?ErrorsUserPage2.c_level:''}}</p>
                            </div>
                        </div>
                    </div>

                    </ng-container>
                    <div (click)="addTeamMember()" class="add-row-generate">
                        <button class="add-row-generate__butt"></button>
                        <p class="add-row-generate__text">Add another</p>
                    </div>
                </div>
            </div>

    <div class="button-wrapper">
        <button type="submit" (click)="Register()" class="button-wrapper__button">Sign up</button>
    </div>
</ng-container>



