<h1 class="auth-form__title">Forgot your password</h1>
<ng-container *ngIf="!IsSend">
    <div class="input-groupe auth-form__input-groupe">
        <label class="input-groupe__label" for="email">E-mail</label>
        <!-- input-groupe__input--error класс ошибки для инпута-->
        <input type="text" class="input-groupe__input" id="email" name="email" autocomplete="off">
        <p *ngIf="IsError" class="input-groupe__error">{{ErrorMsg}}</p>
    </div>   
    <div class="button-wrapper">
        <button type="submit" (click)="RestorePassword()" class="button-wrapper__button">Send</button>
    </div>
</ng-container>
<ng-container *ngIf="IsSend">
    <p class="auth-form__forgot-success">Password has been sent.<br>Check your email</p>
            
    <div class="two-col-buttons">
        <div class="button-wrapper two-col-buttons__item">
            <a routerLink="../signup" class="button-wrapper__button button-wrapper__button--border_theme button-wrapper__button--none-left-proder">Sign up</a>
        </div>
        <div class="button-wrapper two-col-buttons__item">
            <a routerLink="../login" class="button-wrapper__button">Lоg in</a>
        </div>
    </div>
</ng-container>

