<h1 class="system__title system__title--whith-arrow">
    <button *ngIf="Mode !== 'MyProfile'" (click)="GoBack()" class="system__title-arrow">
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.5203 25.1915L14.1825 26.5641C13.616 27.1453 12.7 27.1453 12.1396 26.5641L0.42484 14.5511C-0.141616 13.9699 -0.141616 13.0301 0.42484 12.4551L12.1396 0.435883C12.7061 -0.145294 13.622 -0.145293 14.1825 0.435883L15.5203 1.80845C16.0927 2.39581 16.0807 3.35413 15.4962 3.92913L8.23468 11.0269L25.5537 11.0269C26.3552 11.0269 27 11.6885 27 12.5108L27 14.4892C27 15.3115 26.3552 15.9731 25.5537 15.9731L8.23468 15.9731L15.4961 23.0709C16.0867 23.6459 16.0988 24.6042 15.5203 25.1915Z" fill="#303030"/>
        </svg>
    </button>
    {{Mode === 'MyProfile' ? 'My' : 'Startup'}} profile
</h1>

<div class="sturtup-profile">
    <div class="sturtup-profile__left-side">
        <div class="sturtup-card sturtup-profile__sturtup-card">
            <div *ngIf="Startup.has_image" class="sturtup-card__logo">
                <img [src]="Startup.image" class="img-responsive" alt="">
            </div>
            <p class="sturtup-card__name">{{Startup.company_name}}</p>
            <div class="sturtup-card__link-wr">
                <a [href]="Startup.website" class="sturtup-card__site" target="_blank">{{Startup.website}}</a>
            </div>
            <!-- <div class="sturtup-card__link-wr">
                <a class="sturtup-card__mail" [href]="'mailto:'+Startup.contact_email" target="_blank">{{Startup.contact_email}}</a>
            </div> -->
            <p *ngIf="Startup.stage_of_funding" class="sturtup-card__info"><span>Stage of funding:</span> {{Startup.stage_of_funding.replace('_',' ')|titlecase}}</p>
            <p class="sturtup-card__info"><span>Investment amount: </span> ${{Startup.investment_amount}}</p>
            <p class="sturtup-card__info"><span>Investor’s equity amount: </span> {{Startup.equality_amount?Startup.equality_amount:0}}%</p>
            <ng-container *ngIf="Mode === 'Profile' && Me && Me.role == 'investor'">
              <div class="button-wrapper">
                  <button (click)="openModalInvest(Startup.id)" class="button-wrapper__button button-wrapper__button--border_theme button-wrapper__button--full_width button-wrapper__button--sm_height">invest</button>
              </div>
              <ng-container *ngIf="!Startup.is_invested">
                <div *ngIf="!Startup.is_interested" class="button-wrapper button-wrapper--less_dispance">
                    <button (click)="InterestingCompany(Startup.id)" class="button-wrapper__button button-wrapper__button--full_width button-wrapper__button--sm_height">Intrested in</button>
                </div>
                <div *ngIf="Startup.is_interested" class="button-wrapper button-wrapper--less_dispance">
                    <button (click)="NotInterestedCompany(Startup.id)" class="button-wrapper__button button-wrapper__button--full_width button-wrapper__button--sm_height">Not interesting</button>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="Mode === 'MyProfile' && Me && Me.role == 'startup'">
              <div class="button-wrapper">
                  <button [routerLink]="['/system','startups','edit']" class="button-wrapper__button button-wrapper__button--border_theme button-wrapper__button--full_width button-wrapper__button--sm_height">Edit profile</button>
              </div>
            </ng-container>
        </div>
        <p class="sturtup-profile__title">Products</p>
        <div *ngFor="let product of Products" class="product product--without_actions sturtup-profile__product">
            <div *ngIf="product.has_image" class="product__image-wrapper">
                <img [src]="product.image" class="product__image img-responsive" alt="">
            </div>
            <div class="product__name-wrapper">
                <a [routerLink]="['/system','products', product.id]" class="product__name">{{product.name}}</a>
                <p class="product__price">${{product.price}}</p>
            </div>
            <p class="product__description">{{product.description}}</p>
            <ul class="product-tags product__tags">
                <li *ngFor="let tag of product.tags" class="product-tags__item">{{tag?tag.replace('_',' '):''}}</li>
            </ul>
        </div>
    </div>
    <div class="sturtup-profile__right-side">
        <div class="sturtup-info sturtup-profile__sturtup-info">
            <p class="sturtup-info__title">Team members</p>
            <div class="sturtup-info__team-wrapper">
                <p *ngFor="let member of Startup.team_members" class="sturtup-info__team8">
                    <span>{{member.c_level|uppercase}}</span> {{member.team_member_name}}
                </p>
            </div>
            <p class="sturtup-info__title">Description</p>
            <p class="sturtup-info__text">{{Startup.description}}</p>
        </div>
        <p class="sturtup-profile__title">News</p>
        <div class="sturtup-profile__news">
            <div *ngFor="let news of News" class="my-new sturtup-profile__new">
                <div class="my-new__side">
                    <div class="my-new__head">
                        <span></span>
                        <div class="my-new__info">
                            <p class="my-new__publish-day">{{news.updated_at | date: 'dd MMM yyyy'}}</p>
                        </div>
                    </div>
                    <p class="my-new__text">{{news.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--модалка инвест-->
    <!--при откытии модалки, добавляем body класс modal-open чтобы запретить скролл страницы-->
    <div *ngIf="isModalOpened" class="modal">
        <div class="invest-modal modal__body">
            <!--клик по кнопке - закрывает модалку -->
            <button (click)="isModalOpened = false" class="invest-modal__cancel">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.08231 7L13.7951 2.28732C14.0677 2.01477 14.0677 1.57246 13.7951 1.29946L12.7001 0.204419C12.4275 -0.0681396 11.9852 -0.0681396 11.7122 0.204419L6.99978 4.91753L2.28696 0.204856C2.01439 -0.067702 1.57207 -0.067702 1.29907 0.204856L0.204425 1.29946C-0.0681417 1.57202 -0.0681417 2.01433 0.204425 2.28732L4.91725 7L0.204425 11.7127C-0.0681417 11.9852 -0.0681417 12.4275 0.204425 12.7005L1.2995 13.7956C1.57207 14.0681 2.01439 14.0681 2.2874 13.7956L6.99978 9.08247L11.7126 13.7951C11.9852 14.0677 12.4275 14.0677 12.7005 13.7951L13.7956 12.7001C14.0681 12.4275 14.0681 11.9852 13.7956 11.7122L9.08231 7Z" fill="#C4C4C4"/>
                </svg>
            </button>
            <p class="invest-modal__title">Invest</p>
            <form class="invest-modal-form">
                <div class="input-groupe invest-modal-form__input-groupe">
                    <label class="input-groupe__label" for="email-modal">E-mail to contact</label>
                    <!-- input-groupe__input--error класс ошибки для инпута-->
                    <input [(ngModel)]="InvestedInfo.contact_email" [ngClass]="{'input-groupe__input--error':ErrorsInvest.contact_email}" type="text" class="input-groupe__input" id="email-modal" name="email-modal">
                    <p class="input-groupe__error">{{ErrorsInvest.contact_email}}</p>
                </div>
                <div class="invest-modal-form__flex">
                    <div class="invest-modal-form__side">
                        <div class="input-groupe invest-modal-form__input-groupe">
                            <label class="input-groupe__label" for="investments">Investments</label>
                            <!-- input-groupe__input--error класс ошибки для инпута-->
                            <div class="with-value">
                              <input [(ngModel)]="InvestedInfo.investment" type="text" [ngClass]="{'input-groupe__input--error':ErrorsInvest.investment}" class="input-groupe__input input-groupe__input--value-left" id="investments" name="investments">
                              <span class="with-value__value">$</span>
                            </div>
                            <p class="input-groupe__error">{{ErrorsInvest.investment}}</p>
                        </div>
                    </div>
                    <div class="invest-modal-form__side">
                        <div class="input-groupe invest-modal-form__input-groupe">
                            <label class="input-groupe__label" for="evaluation">Equity</label>
                            <!-- input-groupe__input--error класс ошибки для инпута-->
                            <div class="with-value">
                              <input [textMask]="{mask: mask, guide: false}" [(ngModel)]="InvestedInfo.evaluation" [ngClass]="{'input-groupe__input--error':ErrorsInvest.evaluation}" type="text" class="input-groupe__input input-groupe__input--value-right" id="evaluation" name="evaluation">
                              <span class="with-value__value with-value__value--right">%</span>
                            </div>
                            <p class="input-groupe__error">{{ErrorsInvest.evaluation}}</p>
                        </div>
                    </div>
                </div>
                <!--текст после отправки формы-->
                <!-- <p class="invest-modal-form__msg">Request has been sended</p> -->
                <div class="button-wrapper">
                    <button (click)="InvestToCompany()" class="button-wrapper__button">SEND</button>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="isModalSuccess" class="modal">
        <div class="invest-modal modal__body">
            <!--клик по кнопке - закрывает модалку -->
            <div class="invest-modal-form">
                <p class="invest-modal-form__msg invest-modal-form__msg--big">Notification has been sent successfully</p>
                <div class="button-wrapper">
                    <button (click)="isModalSuccess = false" class="button-wrapper__button">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--отображаем вместе с модалкой-->
    <div *ngIf="isModalOpened || isModalSuccess" class="modal__backdrop"></div>
    <!--/ модалка инвест-->
