<!-- main--visible_sidebar добавляем при клике на кнопку "system-header__open-sidebar" делаем remove класса при клике на body-->
<section class="main" [ngClass]="{'main--visible_sidebar': SideBarVisible}">
    <div class="side-bar main__side-bar"  (click)="SideBarVisible = false">
        <div class="side-bar__logo">
            <img src="assets/img/logo.svg" class="img-responsive" alt="">
        </div>
        <ul class="side-bar-menu">
            <navigation-cmp></navigation-cmp>
        </ul>
    </div>
    <div class="system main__system">
        <div class="system__content">
            <div class="system-header">
                <button class="system-header__open-sidebar">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="system-header__no-auth" *ngIf="!IsLoggedIn">
                    <a [routerLink]="['/auth']" class="system-header__auth-link">Log in</a>
                </div>
                <div class="system-header__user" *ngIf="IsLoggedIn && Me && Me.id">
                    <div class="header-user">
                        <div class="header-user__ava">{{Initials}}</div>
                        <div class="header-user__info">
                            <p class="header-user__name">{{Me.name}} {{Me.surname}}</p>
                            <p class="header-user__role">{{Me.role | titlecase}}</p>
                        </div>
                    </div>
                    <ul class="system-header__dropdown" [ngStyle]="{'display': TopBarVisible ? 'block' : 'none'}">
                        <li class="system-header__dropdown-item">
                            <a routerLink='settings' class="system-header__dropdown-link">Settings</a>
                        </li>
                        <li class="system-header__dropdown-item" *ngIf="Me.role == 'startup'">
                            <a [routerLink]="['/system','startups','my-profile']" class="system-header__dropdown-link">My profile</a>
                        </li>
                        <li class="system-header__dropdown-item">
                            <button (click)="Logout()" class="system-header__dropdown-link">Log out</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="system__wrapper">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="system-copyright system__copyright">
            <p class="system-copyright__text">©2019 Venture Box. All right recerved. <a href="#" class="system-copyright__link">Privacy policy</a> & <a href="#" class="system-copyright__link">Terms of servise</a></p>
        </div>
    </div>
</section>
