<h1 class="system__title">
    Startups list
</h1>

<div class="sturtups-list">
    <div *ngFor="let item of Startups" class="sturtups-list__item">
        <div class="sturtup-card sturtup-card--sm_theme">
            <div *ngIf="item.has_image" class="sturtup-card__logo">
                <img [src]="item.image" class="img-responsive" alt="">
            </div>
            <a [routerLink]="['/system','startups','profile',item.id]" class="sturtup-card__name sturtup-card__name--action">{{item.company_name}}</a>
            <p class="sturtup-card__invest-count">~ ${{item.evaluation}}</p>
            <div class="button-wrapper">
                <button class="button-wrapper__button button-wrapper__button--border_theme button-wrapper__button--full_width button-wrapper__button--sm_height">invest</button>
            </div>
            <div class="button-wrapper button-wrapper--less_dispance">
                <button class="button-wrapper__button button-wrapper__button--full_width button-wrapper__button--sm_height">Intrested in</button>
            </div>
        </div>
    </div>
</div>
