<h1 class="system__title">
    Dashboard
</h1>

<div class="dashboard-startup">
    <div class="dashboard-startup-row dashboard-startup__row">
        <div class="dashboard-startup-row__left-side">
            <div class="dashboard-main-info-row">
                <div class="dashboard-main-info-row__item">
                    <div class="dashboard-main-info-block">
                        <p class="dashboard-main-info-block__key">Total earn</p>
                        <p class="dashboard-main-info-block__value">{{TotalEarn | moneypipe}}</p>
                    </div>
                </div>
                <div class="dashboard-main-info-row__item">
                    <div class="dashboard-main-info-block">
                        <p class="dashboard-main-info-block__key">Total investment</p>
                        <p class="dashboard-main-info-block__value">{{TotalInvestmen | moneypipe}}</p>
                    </div>
                </div>
                <div class="dashboard-main-info-row__item">
                    <div class="dashboard-main-info-block">
                        <p class="dashboard-main-info-block__key">Score</p>
                        <p class="dashboard-main-info-block__value">{{Score}}%</p>
                    </div>
                </div>
            </div>
            <div class="graph-block">
                <p class="graph-block__title">Total current value</p>
                <div class="graph-block__flex-block">
                    <p class="graph-block__count">{{evalChartValue | moneypipe }}</p>
                    <ul class="graph-actions graph-actions--in_left_pos">

                        <li class="graph-actions__item">
                            <span [ngClass]="{'graph-actions__action--active': StartupEvaluationSelect == 'month'}"
                            class="graph-actions__action"
                            (click)="OnStartupEvaluationSelectUpdate('month')">Month</span>
                        </li>
                        <li class="graph-actions__item">
                            <span class="graph-actions__action"  [ngClass]="{'graph-actions__action--active': StartupEvaluationSelect == 'year'}"
                            (click)="OnStartupEvaluationSelectUpdate('year')">Year</span>
                        </li>
                        <li class="graph-actions__item">
                            <span class="graph-actions__action"  [ngClass]="{'graph-actions__action--active': StartupEvaluationSelect == 'all'}"
                            (click)="OnStartupEvaluationSelectUpdate('all')">All time</span>
                        </li>
                    </ul>
                </div>
                <div class="graph-block__graph">
                    <canvas baseChart  #evalChart   height="65"
                    [datasets]='evalChartData'
                    [labels]='evalChartLabels'
                    [options]='evalChartOptions'
                    [colors]='evalColors'
                    [chartType]="'bar'"></canvas>
                </div>
            </div>
        </div>
        <div class="dashboard-startup-row__right-side">
            <div class="dashboard-startup-row__md-item-wr">
                <div class="circle-graph dashboard-startup-row__for-height">

                    <p class="circle-graph__title">Sales</p>
                    <div class="circle-graph__flex">
                        <div class="circle-graph__left-side">
                            <canvas baseChart width="500"
                                [data]="salesChartData"
                                [colors]="salesChartColors"
                                [labels]="displayLabels"
                                [options]="salesChartOptions"
                                [chartType]="'doughnut'">
                            </canvas>
                        </div>
                        <div class="grapf-description circle-graph__right-side">
                            <ng-container *ngFor="let item of salesChartLabels; let i = index">
                                <div class="grapf-description__item grapf-description__item--product_{{i+1}}">
                                    <div class="grapf-description__circle"></div>
                                    <p class="grapf-description__product" [innerHTML]="item"></p>
                                </div>
                            </ng-container>
                            <!-- <div class="grapf-description__item grapf-description__item--product_1">
                                <div class="grapf-description__circle"></div>
                                <p class="grapf-description__product">Product name - <span>15%</span></p>
                            </div>
                            <div class="grapf-description__item grapf-description__item--product_2">
                                <div class="grapf-description__circle"></div>
                                <p class="grapf-description__product">Product name - <span>15%</span></p>
                            </div>
                            <div class="grapf-description__item grapf-description__item--product_3">
                                <div class="grapf-description__circle"></div>
                                <p class="grapf-description__product">Product name - <span>15%</span></p>
                            </div>
                            <div class="grapf-description__item grapf-description__item--product_4">
                                <div class="grapf-description__circle"></div>
                                <p class="grapf-description__product">Product name - <span>15%</span></p>
                            </div> -->

                        </div>
                    </div>
                </div>

            </div>
            <div class="dashboard-startup-row__md-item-wr">
                <div class="dashboard-events dashboard-startup-row__for-height">
                  <app-google-calendar></app-google-calendar>
                </div>
            </div>

        </div>
    </div>
    <div class="my-milestones">
          <div class="my-milestones__item" *ngFor="let item of Milestones">
            <app-milestones-list-item
              [Item]="item"
            ></app-milestones-list-item>
          </div>
    </div>
</div>
